CONFIG_ML_MAX_PEERS=4
CONFIG_ML_NVS_MAX_PEERS=16
CONFIG_ML_H2_BUFFER_SIZE_KB=64
CONFIG_ML_JSON_BUFFER_SIZE_KB=64
# CONFIG_ML_ENABLE_CONFIG_HTTPD is not set
# CONFIG_ML_ENABLE_CELLULAR is not set
# CONFIG_ML_ZERO_COPY_WG is not set
CONFIG_ML_TAILSCALE_AUTH_KEY=""
CONFIG_ML_DEVICE_NAME=""
CONFIG_MBEDTLS_CHACHA20_C=y
CONFIG_MBEDTLS_CHACHAPOLY_C=y
CONFIG_MBEDTLS_POLY1305_C=y
CONFIG_MBEDTLS_HKDF_C=y
CONFIG_MBEDTLS_ECP_DP_CURVE25519_ENABLED=y
